<!-- Footer Build -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="top-footer">
                <div class="top-row">
                    <div class="card">
                        <i class="fa-regular fa-headphones"></i>
                        <div class="right">
                            <div class="top-right">
                                <h3>CUSTOMER SUPPORT</h3>
                                <h4>Need Assistence?</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
                        </div>
                    </div>
                    <div class="card">
                        <i class="fa-regular fa-credit-card"></i>
                        <div class="right">
                            <div class="top-right">
                                <h3>SECURED PAYMENT</h3>
                                <h4>Safe & Fast</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapibus lacus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <i class="fa-regular fa-handshake"></i>
                        <div class="right">
                            <div class="top-right">
                                <h3>RETURNS</h3>
                                <h4>Easy & Free</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mid-footer">
                <div class="left-mid">
                    <h3 class="title">CONTACT INFO</h3>
                    <div class="rows">
                        <div class="address">
                            <h4>ADDRESS:</h4>
                            <p>123 Street Name, City, England</p>
                        </div>
                        <div class="address">
                            <h4>PHONE:</h4>
                            <p>(123) 456-7890</p>
                        </div>
                        <div class="address">
                            <h4>EMAIL:</h4>
                            <p>mail#example.com</p>
                        </div>
                        <div class="address">
                            <h4>WORKING DAYS/HOURS:</h4>
                            <p>Mon - Sun / 9:00 AM - 8:00 PM</p>
                        </div>
                    </div>
                    <div class="social-icons">
                        <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                        <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                        <div class="icon"><i class="fa-brands fa-twitter"></i></div>
                    </div>
                </div>
                <div class="right-mid">
                    <div class="sub">
                        <div class="left-sub">
                            <h3 class="title">Subscribe Newsletter</h3>
                            <p>Get all the latest information on Events, Sales and Offers. Sign up for newsletter today.</p>
                        </div>
                        <div class="right-inputs">
                            <input type="email" placeholder="email address">
                            <button>subscribe</button>
                        </div>
                    </div>
                    <div class="bot">
                        <div class="both">
                            <h3 class="title">Customer Service</h3>
                            <div class="both-row">
                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">My Account</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Order history</a></li>
                                    <li><a href="#">Advanced search</a></li>
                                    <li><a href="#">Login</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="both">
                            <h3 class="title">About Us</h3>
                            <div class="both-row">
                                <ul>
                                    <li><a href="#">Super Fast Wordpress Theme</a></li>
                                    <li><a href="#">1st Fully working Ajax Theme</a></li>
                                    <li><a href="#">36 Unique Shop Layouts</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Powerful Admin Panel</a></li>
                                    <li><a href="#">Mobile & Retina Optimized</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="last-footer">
                <div class="last-row">
                    <p>© Porto Magento 2023. All Rights Reserved</p>
                    <img src="https://m2.portotheme.com/media/wysiwyg/smartwave/porto/footer/shop10_payment.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>