<!-- Home Build -->
<main>
    <section class="home">
        <div class="container">
            <div class="home-content">
                <h2>new arrivals!</h2>
                <img src="https://m2.portotheme.com/media/wysiwyg/smartwave/porto/homepage/10/shop10_banner_text.png" alt="">
                <h3>70% off</h3>
                <button>shop now <i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
    </section>
    <section class="products">
        <div class="container">
            <div class="top-title"><h3>featured products</h3></div>
            <div class="products-row">
                <div class="left-products">
                    <img src="https://m2.portotheme.com/media/catalog/product/cache/3db75e5b21f54074ca4bc701355dd8b7/p/r/product-21.jpeg" alt="">
                    <div class="pos">
                        <div class="top-icons">
                            <div class="icon">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-signal"></i>
                            </div>
                        </div>
                        <button>quick view</button>
                    </div>
                    <div class="name">
                        <h3>black watch</h3>
                        <div class="price">
                            <span>$199.00</span>
                        </div>
                    </div>
                </div>
                <div class="mid-product">
                    <img src="https://m2.portotheme.com/media/catalog/product/cache/3db75e5b21f54074ca4bc701355dd8b7/p/r/product-84_2.jpeg" alt="">
                    <div class="pos">
                        <div class="top-icons">
                            <div class="icon">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-signal"></i>
                            </div>
                        </div>
                        <button>quick view</button>
                    </div>
                    <div class="name">
                        <h3>lucky bag</h3>
                        <div class="price">
                            <span>$199.00</span>
                        </div>
                    </div>
                </div>
                <div class="right-products">
                    <div class="card">
                        <img src="https://m2.portotheme.com/media/catalog/product/cache/3db75e5b21f54074ca4bc701355dd8b7/p/r/product-79-2.jpeg" alt="">
                    <div class="pos">
                        <div class="top-icons">
                            <div class="icon">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-signal"></i>
                            </div>
                        </div>
                        <button>quick view</button>
                    </div>
                    <div class="name">
                        <h3>Lucky Emmie Ballet Flat</h3>
                        <div class="price">
                            <span>$199.00</span>
                        </div>
                    </div>
                    </div>
                    <div class="card">
                        <img src="https://m2.portotheme.com/media/catalog/product/cache/3db75e5b21f54074ca4bc701355dd8b7/p/r/product-42.jpeg" alt="">
                    <div class="pos">
                        <div class="top-icons">
                            <div class="icon">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-signal"></i>
                            </div>
                        </div>
                        <button>quick view</button>
                    </div>
                    <div class="name">
                        <h3>men's belt</h3>
                        <div class="price">
                            <span>$199.00</span>
                        </div>
                    </div>
                    </div>
                    <div class="card">
                        <img src="https://m2.portotheme.com/media/catalog/product/cache/3db75e5b21f54074ca4bc701355dd8b7/p/r/product-22_2.jpeg" alt="">
                        <p class="discount">-11%</p>
                    <div class="pos">
                        <div class="top-icons">
                            <div class="icon">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-signal"></i>
                            </div>
                        </div>
                        <button>quick view</button>
                    </div>
                    <div class="name">
                        <h3>men shoes</h3>
                        <div class="price">
                            <span>$199.00</span>
                        </div>
                    </div>
                    </div>
                    <div class="card">
                        <img src="https://m2.portotheme.com/media/catalog/product/cache/3db75e5b21f54074ca4bc701355dd8b7/p/r/product-22.jpeg" alt="">
                    <div class="pos">
                        <div class="top-icons">
                            <div class="icon">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-signal"></i>
                            </div>
                        </div>
                        <button>quick view</button>
                    </div>
                    <div class="name">
                        <h3>porto shoes</h3>
                        <div class="price">
                            <span>$199.00</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-home-products></app-home-products>
    <section class="image">
        <div class="container">
            <div class="image-content">
                <div class="pos2">
                    <h3>big sale</h3>
                    <div class="right-image">
                        <h3>Sunglasses, Bags, Dresses and much more...</h3>
                        <h4><span>BIG SALE</span> ALL NEW FASHION BRANDS ITEMS UP </h4>
                        <h5>TO 70% OFF</h5>
                        <button>shop now <i class="fa-solid fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-home-products2></app-home-products2>
</main>